{
	"useTabs": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"experimentalTernaries": true,
	"printWidth": 100,
	"semi": false,
	"svelteBracketNewLine": false,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
